header {
    width: 80%;
    text-align: center;
    border: solid black;
    margin: auto;
    
}

header h1  {
    margin-left: 20px;
    display: inline-block;
}

header img {
    vertical-align: middle;
    background-size: cover;
    border-radius: 50%;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;

}

header nav {
    display: inline-flex;
    vertical-align: bottom;
}

/*homepage*/
.category1 {
    width: 90%;
    text-align: center;
    border: solid black;
    margin: auto;
    margin-top: 20px;
}

figure {
    display: inline-block;
    width: 150px;
}

main div img {
    height: auto;
}

.category2 {
    width: 90%;
    text-align: center;
    border: solid black;
    margin: auto;
    margin-top: 20px; 
}

/*Category page */
.subcategory1 {
    width: 90%;
    text-align: center;
    border: solid black;
    margin: auto;
    margin-top: 20px;
}

figure {
    display: inline-block;
    width: 150px;
}

main div img {
    height: auto;
}

.subcategory2 {
    width: 90%;
    text-align: center;
    border: solid black;
    margin: auto;
    margin-top: 20px; 
}

.subcategory3 {
    width: 90%;
    text-align: center;
    border: solid black;
    margin: auto;
    margin-top: 20px; 
}

/*book detail */
.breadcrumb li {
    display: inline;
    font-size: 20px;
}

.breadcrumb li+li::before {
    padding: 8px;
    color: black;
    content: ">\00a0";
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    align-items: center;
}

.main   {
    display: grid;
    place-items: center;
}

.add {
    width: 150px;
    height: 50px;
}

/*Contact page*/

footer {
    width: 80%;
    text-align: center;
    border: solid black;
    margin: auto;
    margin-top: 20px;
}

footer h2  {
    display: inline-block;
    vertical-align: middle;

}

footer nav  {
    display: inline-flex;
   
}


@media screen and (min-width: 961px) {
    header nav li {
        display:inline;     
}
}

@media screen and (max-width: 961px) {
    header nav li {
        display:block;
        width: 60;     
}
}
    




